[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent

# CS0219: Variable is assigned but its value is never used
dotnet_diagnostic.CS0219.severity = silent
